 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("img/section1.jpeg");
}

.u-parallax-1 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-parallax-2 {
  min-height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 812px;
}

.u-section-1 .u-image-1 {
  width: 359px;
  height: 229px;
  margin: 107px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 120px 106px 0;
}

.u-section-1 .u-text-2 {
  width: 699px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 115px auto 47px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-1 .u-text-1 {
    width: 697px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 11px;
    margin-right: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 385px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 242px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 217px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 412px;
}

.u-section-2 .u-text-1 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 100px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 3rem;
  margin: 20px 60px 60px;
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -14px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
    margin-bottom: 60px;
  }
} .u-section-3 {
  min-height: 810px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 405px;
  background-image: url("img/section3-1.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 405px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1rem;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-image-2 {
  min-height: 405px;
  background-image: url("img/section3-2.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 405px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1rem;
  margin: 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-image-3 {
  min-height: 405px;
  background-image: url("img/section3-3.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 405px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-text-7 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1rem;
  margin: 0;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-9 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 640px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 334px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 334px;
  }

  .u-section-3 .u-image-2 {
    min-height: 334px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 334px;
  }

  .u-section-3 .u-image-3 {
    min-height: 334px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 334px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 562px;
  }

  .u-section-3 .u-image-1 {
    min-height: 256px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-image-2 {
    min-height: 256px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-image-3 {
    min-height: 256px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1446px;
  }

  .u-section-3 .u-image-1 {
    min-height: 576px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 576px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    min-height: 576px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1026px;
  }

  .u-section-3 .u-image-1 {
    min-height: 363px;
  }

  .u-section-3 .u-image-2 {
    min-height: 363px;
  }

  .u-section-3 .u-image-3 {
    min-height: 363px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 716px;
}

.u-section-4 .u-text-1 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 20px auto 0 318px;
}

.u-section-4 .u-list-1 {
  margin: 30px auto 0 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 331px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-6 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  line-height: 58px;
  margin: 0 auto;
}

.u-section-4 .u-text-7 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 auto;
}

.u-section-4 .u-text-8 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-9 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-text-10 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 auto;
}

.u-section-4 .u-text-11 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 30px auto 60px;
  padding: 10px 73px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-4 .u-text-2 {
    margin-left: auto;
  }

  .u-section-4 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1012px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
  }
}.u-block-15ed-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEi…5LjEsMjYwLDI2NSwyNjAsMjY1SDI0NXoiLz4NCjwvc3ZnPg0K");
  background-position: 50% 50%;
}

.u-block-15ed-5 {
  position: absolute;
  width: 72px;
  height: 3px;
  top: auto;
  bottom: 35px;
}

.u-block-15ed-3 {
  position: absolute;
  left: 0;
  width: 45px;
  height: 45px;
  right: auto;
}

.u-block-15ed-4 {
  position: absolute;
  width: 46px;
  height: 46px;
  left: auto;
  right: 0;
}

.carousel {
  margin-bottom: 1rem;
  background: linear-gradient(#212529, 80%, rgb(255, 255, 255));
}

.carousel-caption {
  height: 40rem;
  z-index: 10;
}

.carousel-item {
  height: 40rem;
}


 .u-section-5-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("img/section5-1.jpeg");
  background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;  
}

.u-section-5-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-5-1 .u-text-1 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 60px auto 0;
}

.u-section-5-1 .u-text-2 {
  font-size: 3rem;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-5-1 {
    background-position: 50% 50%;
  }

  .u-section-5-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 287px;
  }

  .u-section-5-1 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-5-1 .u-text-2 {
    font-size: 2.25rem;
    margin: 20px 0 40px;
  }
}

 .u-section-5-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("img/section5-2.jpg");
  background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: top center; 
}

.u-section-5-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-5-2 .u-text-1 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 60px auto 0;
}

.u-section-5-2 .u-text-2 {
  font-size: 3rem;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-5-2 {
    background-position: 50% 50%;
  }

  .u-section-5-2 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 287px;
  }

  .u-section-5-2 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-5-2 .u-text-2 {
    font-size: 2.25rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 771px;
}

.u-section-6 .u-text-1 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 60px auto 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  margin: 20px auto 0;
}

.u-section-6 .u-list-1 {
  margin: 30px auto 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 375px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-3 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 auto;
}

.u-section-6 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-5 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 auto;
}

.u-section-6 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-7 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 auto;
}

.u-section-6 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-text-9 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 auto;
}

.u-section-6 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-text-11 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 auto;
}

.u-section-6 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px;
}

.u-section-6 .u-text-13 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 auto;
}

.u-section-6 .u-text-14 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-6 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-2 {
    font-size: 2.25rem;
  }
} .u-section-7 {
  min-height: 707px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-7 .u-image-1 {
  min-height: 707px;
  background-image: url("img/section5-2.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-image-2 {
  min-height: 351px;
  background-image: url("img/section7-2.jpeg");
  background-position: 50% 63.78%;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-image-3 {
  min-height: 356px;
  background-image: url("img/section7-3.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-image-4 {
  min-height: 356px;
  background-image: url("img/section3-1.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 637px;
  }

  .u-section-7 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-1 {
    min-height: 583px;
  }

  .u-section-7 .u-image-2 {
    min-height: 289px;
  }

  .u-section-7 .u-image-3 {
    min-height: 294px;
  }

  .u-section-7 .u-image-4 {
    min-height: 294px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 1319px;
  }

  .u-section-7 .u-image-1 {
    min-height: 893px;
  }

  .u-section-7 .u-image-2 {
    min-height: 443px;
  }

  .u-section-7 .u-image-3 {
    min-height: 450px;
  }

  .u-section-7 .u-image-4 {
    min-height: 450px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 1448px;
  }

  .u-section-7 .u-image-1 {
    min-height: 670px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    min-height: 332px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-3 {
    min-height: 675px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-4 {
    min-height: 675px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 1025px;
  }

  .u-section-7 .u-image-1 {
    min-height: 422px;
  }

  .u-section-7 .u-image-2 {
    min-height: 209px;
  }

  .u-section-7 .u-image-3 {
    min-height: 425px;
  }

  .u-section-7 .u-image-4 {
    min-height: 425px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 479px;
}

.u-section-8 .u-list-1 {
  width: 810px;
  margin: 60px auto 0 0;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 272px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-8 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 2px auto 0;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 28px auto 0 77px;
}

.u-section-8 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-8 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 2px auto 0;
}

.u-section-8 .u-text-3 {
  font-size: 3rem;
  font-weight: 700;
  margin: 28px auto 0 77px;
}

.u-section-8 .u-text-4 {
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-8 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 2px auto 0;
}

.u-section-8 .u-text-5 {
  font-size: 3rem;
  font-weight: 700;
  margin: 28px auto 0 77px;
}

.u-section-8 .u-text-6 {
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
}

.u-section-8 .u-group-1 {
  width: 279px;
  min-height: 279px;
  margin: -279px 3px 53px auto;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

.u-section-8 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-8 .u-list-1 {
    height: auto;
    width: 668px;
    margin-top: 107px;
  }

  .u-section-8 .u-text-1 {
    margin-left: auto;
  }

  .u-section-8 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-text-3 {
    margin-left: auto;
  }

  .u-section-8 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-text-5 {
    margin-left: auto;
  }

  .u-section-8 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-group-1 {
    width: 230px;
    min-height: 233px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 957px;
  }

  .u-section-8 .u-list-1 {
    margin-top: 80px;
    margin-left: auto;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-8 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-text-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-text-6 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-group-1 {
    margin-top: 10px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-list-1 {
    width: 540px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1159px;
  }

  .u-section-8 .u-list-1 {
    width: 340px;
    margin-right: -2px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
  }

  .u-section-8 .u-text-2 {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .u-section-8 .u-text-3 {
    width: auto;
  }

  .u-section-8 .u-text-4 {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .u-section-8 .u-text-5 {
    width: auto;
  }

  .u-section-8 .u-text-6 {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .u-section-8 .u-group-1 {
    margin-left: 55px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 500px;
}

.u-section-9 .u-text-1 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 76px auto 0;
}

.u-section-9 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  margin: 20px auto 0;
}

.u-section-9 .u-form-1 {
  height: 225px;
  width: 570px;
  margin: 30px auto 60px;
}

.u-section-9 .u-form-group-3 {
  margin-left: 0;
}

.u-section-9 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 767px) {
  .u-section-9 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-9 .u-form-1 {
    width: 340px;
  }
}